@import "./settings";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  font-family: $font-body;
  background: $bg-4;
}

#__next {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  flex-grow: 2;
  min-width: 90vw;
  margin: 7rem auto 5rem;
  padding: 0 3rem;
  min-width: min(100vw, 1500px);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: $font-title;
}

h1 {
  text-align: center;
  margin: 2rem auto;
  font-weight: 400;
  font-size: clamp(1.8rem, 9vmin, 2.1rem);

  @media (min-width: 600px) {
    margin: 0 auto 1.6rem;
    font-size: clamp(2rem, 4vw, 3rem);
  }
}

h2 {
  font-family: $font-body;
  font-size: clamp(1.2rem, 5vmin, 1.8rem);
  font-weight: 500;
  margin-bottom: clamp(1rem, 5vmin, 1.2rem);
}

ul,
li {
  list-style: none;
}

p {
  text-align: justify;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: $link;
  user-select: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 37rem;
  margin: 0 auto;

  &-row {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .password-evaluation {
      height: 5px;
      width: 0;
      background: $danger-1;
      border-radius: 50px;
      transition: width 0.3s ease-out;

      &-33 {
        width: 33%;
        background: $danger-1;
      }
      &-66 {
        width: 66%;
        background: $warning;
      }
      &-100 {
        width: 100%;
        background: $success-3;
      }
    }

    .forgotten-password {
      text-align: right;
    }
  }
}

.user-space {
  margin-top: 2rem;

  table {
    width: 100%;
    text-align: center;
    background: $bg-3;
    border-collapse: collapse;

    thead {
      height: 4rem;
      font-size: clamp(0.9rem, 1vw, 1.1rem);

      th {
        font-weight: 600;
      }

      tr {
        &:first-of-type {
          th {
            padding: 1.2rem 0.6rem 0.6rem;
          }
        }

        &:nth-of-type(2) {
          border-bottom: 3px solid black;

          th {
            padding: 0 0.6rem 1.2rem;
          }
        }
      }
    }

    tbody {
      font-size: clamp(0.8rem, 1vw, 1rem);

      td {
        height: 4rem;
        border-bottom: 1px solid black;
        padding: 0.6rem;
      }
    }
  }

  .sort-btn-container {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    i {
      font-size: 0.7rem;
    }

    button.active {
      background: $primary-1;
      color: $content-light;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: min(100%, 15rem);
    padding: 0.6rem;
    padding-bottom: 0.8rem;
    background: $bg-3;
    border-radius: 5px;
    font-size: clamp(0.8rem, 3vmin, 1rem);
    text-align: center;

    .name {
      font-weight: 580;
    }

    .city {
      font-style: italic;
    }
  }
}

.flash {
  display: block;
  padding: 1.2rem;
  margin: 2rem 0;
  border-radius: 5px;

  &-success {
    background: rgba($success-1, 0.4);
  }

  &-danger {
    background: rgba($danger-1, 0.4);
  }

  &-warning {
    background: rgba($warning, 0.4);
  }

  &-infos {
    background: rgba($infos, 0.4);
  }
}
