.admin-space {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    margin-bottom: 0.5rem;
  }

  .sections-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include ptt {
      gap: 5rem;
    }
  }

  .registrations-container,
  .results-container,
  .users-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
  }

  .users-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .card {
    display: grid;
    grid-template-columns: 3rem 1fr;
    // grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
    width: auto;

    & > div {
      text-align: left;
    }

    & > * {
      padding: 0.5rem 0;
    }
  }

  button.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6rem;
    background-color: $primary-1;
    color: $content-light;
    font-weight: 500;
  }
}
