.homepage {
  margin-top: 2rem;

  .events-block {
    margin-bottom: 1.6rem;
    overflow: hidden;
    width: 100%;
  }

  .events {
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
    gap: 0.6rem;
    // width: 95%;
    padding: 0.3rem;

    @include from(1000) {
      flex-direction: row;
      gap: 1.6rem;
      width: 100%;
      animation: smooth-scrolling 20s linear infinite;
      padding: 1rem 0 1rem 100%;
      width: fit-content;
    }
  }
}

@keyframes smooth-scrolling {
  from {
    transform: translate3D(0, 0, 0);
  }
  to {
    transform: translate3D(-100%, 0, 0);
  }
}
