.homepage {
  margin-top: 2rem;

  @include from(1600) {
    margin-left: auto;
    margin-right: auto;
  }

  .events-block {
    margin-bottom: 2rem;
    overflow: hidden;
    width: 100%;
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.3rem;

    @include from(1000) {
      flex-direction: row;
      gap: 1.6rem;
      animation: smooth-scrolling 20s linear infinite;
      padding: 1rem 0 1rem 100%;
      width: fit-content;
    }
  }

  .search-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    padding: 0.6rem 0.6rem 0.8rem;
    height: fit-content;
    max-width: 30rem;
    background: $primary-1;
    color: $content-light;
    border-radius: 12px;
    box-shadow: 2px 2px 5px 2px rgba($primary-1, 0.4);

    @include from(480) {
      margin: 2rem auto;
    }

    @include from(1000) {
      display: none;
    }

    #searchMobileBtn {
      text-align: center;
      font-size: 1.2em;
      background: transparent;
      border: none;
      color: $content-light;
      padding: 0.6rem;
    }

    form {
      width: 100%;
      opacity: 0;
      max-height: 0;
      transition: opacity 0.1s ease-out, max-height 0.3s ease-out;
    }

    &.active {
      background: $bg-3;
      border: 2px solid $primary-1;
      box-shadow: none;

      #searchMobileBtn {
        color: $content-dark;
        text-underline-offset: 5px;

        @include fine {
          &:hover {
            text-decoration: underline 3px;
          }
        }

        @include coarse {
          text-decoration: underline 3px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        opacity: 1;
        max-height: 15rem;
        margin-top: 1rem;
      }

      span {
        align-self: center;
        color: $content-dark;
        height: fit-content;
      }

      .form-control {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        width: 100%;
        margin-bottom: 1rem;

        .form-row:first-of-type {
          width: 100%;
        }
      }

      .form-row:nth-of-type(2) {
        display: flex;
        flex-direction: row;

        select:nth-of-type(1) {
          width: 22%;
        }
        select:nth-of-type(2) {
          width: 50%;
        }
        select:nth-of-type(3) {
          width: 28%;
        }
      }

      input[type="text"]::placeholder {
        color: rgba($color: $content-dark, $alpha: 0.2);
      }

      #resetBtn {
        align-self: flex-end;
      }
    }
  }

  .tournaments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    @include from(1000) {
      display: block;
      width: 100%;
      background: $bg-3;
      padding: 0.6rem;
      border-radius: 5px;
    }

    table {
      width: 100%;
      text-align: center;
      background: $bg-3;
      border-collapse: collapse;
    }

    thead {
      height: 4rem;
      font-size: clamp(0.9rem, 1vw, 1.1rem);
    }

    thead th {
      border-bottom: 3px solid black;
      padding: 1.2rem 0.6rem;

      &:first-of-type {
        width: 17%;
      }

      &:nth-of-type(2) {
        width: 30%;
      }

      &:nth-of-type(3) {
        width: 17%;
      }

      &:nth-of-type(4),
      &:nth-of-type(5) {
        width: 11%;
      }

      &:nth-of-type(6) {
        width: 6%;
      }

      &:last-of-type {
        width: 8%;
      }
    }

    tbody {
      font-size: clamp(0.8rem, 1vw, 1rem);

      td {
        height: 4rem;
        border-bottom: 1px solid black;
        padding: 0.6rem;
      }
    }
  }
}

@keyframes smooth-scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
