main.login {
  .remember-me {
    display: flex;
    align-items: center;
    gap: 10px;

    label,
    input {
      cursor: pointer;
    }

    label {
      user-select: none;
    }

    input {
      height: 1rem;
      width: 1rem;
    }
  }
}
