.new-registration {
  max-width: 1600px;

  form {
    gap: 2rem;
    margin: 2.4rem auto;
  }

  .choose-tournament-identifier {
    align-self: center;
    flex-direction: row;
    align-items: center;

    gap: clamp(0.6rem, 3vmin, 1rem);

    span {
      width: min-content;
      text-align: center;

      @include from(500) {
        width: auto;
      }
    }
  }

  .dates {
    display: flex;
    align-items: center;
    gap: clamp(0.3rem, 2vmin, 1.2rem);

    span {
      font-weight: 500;
    }

    input {
      font-size: clamp(0.8rem, 3vmin, 1.2rem);
    }
  }

  .checkboxes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include ptt {
      // gap: clamp(2rem, 5vw, 5rem);
      justify-content: space-around;
    }

    input[type="checkbox"] {
      display: none;

      &:checked + label {
        background: $primary-1;
        color: $content-light;
        font-weight: 500;
      }
    }

    label {
      position: relative;
      min-width: clamp(4rem, 20vmin, 7rem);
      padding: 0.6rem 0.3rem;
      border: 2px solid $primary-1;
      border-radius: 3px;
      background-image: linear-gradient($primary-1 0 0);
      background-origin: border-box;
      background-position: 0 100%;
      background-size: 0 100%;
      background-repeat: no-repeat;
      transition: 0.4s;
      text-align: center;
      font-size: 0.9rem;

      @include coarse {
        box-shadow: 2px 2px 8px 1px rgba(black, 0.2);
      }

      @include fine {
        &:hover {
          background-size: 100% 100%;
          color: $content-light;
        }
      }

      @include from(1000) {
        font-size: 1.1rem;
      }
    }

    .form-row {
      flex-direction: row;
    }
  }

  .partner-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    @include ptt {
      flex-direction: row;
      gap: 1.2rem;

      input:first-of-type {
        flex-grow: 2;
      }

      input:last-of-type {
        width: 25%;
      }
    }
  }

  input[type="submit"] {
    font-size: clamp(0.8rem, 4vmin, 1rem);
  }
}
