.reset-password {
  form {
    margin: clamp(1.6rem, 4.3vw, 2.2rem) auto;
  }

  .forgotten-password {
  }

  @include ptt {
    p {
      text-align: center;
    }
  }

  &-confirm-message {
    width: 100%;

    p {
      padding: 0.3rem 0;
    }
    .error,
    .success {
      padding: 0.8rem 0.6rem;
      border-radius: 3px;
    }

    .error {
      background: $danger-2;
    }

    .success {
      background: $success-2;
    }
  }

  .reset {
  }
}
