.signin {
  .password-evaluation {
    height: 5px;
    width: 0;
    border-radius: 50px;

    &-33 {
      width: 33%;
      background: $danger-1;
    }
    &-66 {
      width: 66%;
      background: $success-1;
    }
    &-100 {
      width: 100%;
      background: skyblue;
    }
  }
}
