input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &[type="text"],
  &[type="email"],
  &[type="password"] {
    border-radius: 3px;
    transition: border-radius 0.3s ease-out;
    height: 3rem;
    font-size: 1.2rem;
    border: 1.5px solid grey;
    font-family: inherit;

    &:focus {
      border: 2px solid $primary-1;
      border-radius: 10px;
    }
  }

  &[type="submit"] {
    width: 100%;
    height: 3rem;
    border-radius: 3px;
    -webkit-appearance: none;
    font-weight: 500;
    cursor: pointer;
  }
}

.password-input {
  position: relative;
  display: flex;

  input[type="password"],
  input[type="text"] {
    flex-basis: 100%;
  }
  button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    padding: 0.6rem;
    background: transparent;
    border: none;
    font-size: 1.1rem;

    &.display {
      color: $success-3;
    }
    &.hide {
      color: $danger-1;
    }
  }
}

.errorMessage-input {
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  background: $danger-2;
  border-radius: 5px;
}
