nav.nav-mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
  width: 100vw;
  backdrop-filter: blur(10px);
  background: $bg-1;
  border-radius: 20px 20px 0 0;
  z-index: 11;

  &.active {
    transform: translateY(0);
  }

  @include ptt {
    width: 70vw;
    top: 0;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;

    &.active {
      transform: translate(-50%, 0);
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 4.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.194);
    border-radius: 20px 20px 0 0;

    @include ptt {
      height: 5rem;
      border-radius: 0;
    }
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.194);
    font-size: clamp(0.6rem, 3vmin, 0.7rem);
    font-weight: 500;

    @include ptt {
      font-size: clamp(0.8rem, 1.5vw, 1rem);

      &:last-of-type {
        border-right: 1px solid rgba(0, 0, 0, 0.194);
      }
    }

    &:first-of-type {
      border-left: none;

      @include ptt {
        border-left: 1px solid rgba(0, 0, 0, 0.194);
      }
    }

    &:first-of-type a {
      border-radius: 20px 0 0 0;

      @include ptt {
        border-radius: 0;
      }
    }

    &:last-of-type a {
      border-radius: 0 20px 0 0;

      @include ptt {
        border-radius: 0;
      }
    }
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    text-align: center;
    color: $content-light;
    width: 100%;
    height: 100%;
    padding: 0.3rem;

    &.link-active {
      background: $bg-3;
      color: $content-dark;
    }
  }

  span:first-of-type {
    font-size: 0.9rem;
  }
}
