.tournament {
  &.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: min(100%, 15rem);
    padding: 0.6rem;
    background: $bg-3;
    border-radius: 5px;
    font-size: clamp(0.8rem, 3vmin, 1rem);
    text-align: center;

    .name {
      font-weight: 580;
    }

    .city {
      font-style: italic;
    }
  }

  .cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    box-sizing: content-box;

    @include from(1000) {
      gap: 0.6rem;
    }

    .see-file {
      background: rgba($infos, 0.35);
      box-shadow: 2px 2px 8px 2px darken(rgba($infos, 0.35), 20%);
    }

    .register {
      background: rgba($success-1, 0.35);
      box-shadow: 2px 2px 6px 1px darken(rgba($success-1, 0.35), 20%);
    }

    button,
    a {
      width: 3.5rem;
      padding: 0;
      aspect-ratio: 1/1;
      border-radius: 50%;
      font-size: 2rem;
      transition: box-shadow 0.2s ease-out;

      @include from(1000) {
        width: 2.5rem;
        font-size: 1.5rem;
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}
