header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100px;
  padding: 0 clamp(0.9rem, 4.5vmin, 1.2rem);
  background: $bg-1;
  border-radius: 0 0 20px 20px;

  @include ptt {
    height: 5rem;
  }

  .img-logo {
    width: 90px;
    height: 30px;

    @include ptt {
      display: none;
    }
  }

  .switch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    span {
      color: $content-light;
    }
  }

  .btn-logout {
    background: transparent;
    border: none;

    i {
      color: $bg-3;
      font-size: 1.6rem;
    }
  }
}
