.homepage {
  .events-container {
    margin-bottom: 2rem;
    overflow: hidden;
    width: 100%;
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.3rem;

    @include from(1000) {
      flex-direction: row;
      gap: 1.6rem;
      animation: smooth-scrolling 20s linear infinite;
      padding: 1rem 0 1rem 100%;
      width: fit-content;
    }
  }

  .tournaments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    @include from(1000) {
      display: block;
      width: 100%;
      background: $bg-3;
      padding: 0.6rem;
      border-radius: 5px;
    }

    thead {
      th {
        &:first-of-type {
          width: 17%;
        }

        &:nth-of-type(2) {
          width: 30%;
        }

        &:nth-of-type(3) {
          width: 17%;
        }

        &:nth-of-type(4),
        &:nth-of-type(5) {
          width: 11%;
        }

        &:nth-of-type(6) {
          width: 6%;
        }

        &:last-of-type {
          width: 8%;
        }
      }
    }
  }

  .cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    box-sizing: content-box;

    @include from(1000) {
      gap: 0.6rem;
    }

    button,
    a {
      width: 3.5rem;
      padding: 0;
      aspect-ratio: 1/1;
      border-radius: 50%;
      font-size: 2rem;
      transition: transform 0.2s ease-out;

      @include from(1000) {
        width: 2.5rem;
        font-size: 1.5rem;
      }

      &:active {
        transform: scale(0.85);
      }
    }
  }
}

@keyframes smooth-scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
